<h1>Programming Languages</h1>

<%= form_tag programming_languages_path, method: :get, class: "container-fluid" do %>
  <div class="input-group">
    <%= text_field_tag :search, params[:search], class: 'form-control' %>
    <span class="input-group-btn">
      <%= submit_tag 'Search', class: "btn btn-default" %>
    </span>
  </div>
<% end %>

<p style="margin-top: 10px">
  <b>Tips:</b>
  <ul class="list-group row">
    <li class="list-group-item col-md-3">
      To exclude something from result use double hyphen symbols. <br>
      For example: <i>--array</i> will exclude all records with category <i>Array</i>.
    </li>
    <li class="list-group-item col-md-3">
      To find case-sensitive exact match enter your query between double quotes. <br>
      For example: <i>"John Plevyak"</i> will return <i>Chapel</i> language.
    </li>
    <li class="list-group-item col-md-3">
      To do regular non case-sensitive search just enter your query in input field. <br>
      For example: <i>John Plevyak</i> will return not only <i>Chapel</i> language.
    </li>
    <li class="list-group-item col-md-3">
      Also, you can combine. <br>
      For example: <i>Microsoft --scripting</i>
    </li>
  </ul>
</p>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Categories</th>
      <th>Designed by</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @programming_languages.each do |programming_language| %>
      <tr>
        <td><%= programming_language.name %></td>
        <td><%= programming_language.categories %></td>
        <td><%= programming_language.designed_by %></td>
        <td><%= link_to 'Show', programming_language %></td>
        <td><%= link_to 'Edit', edit_programming_language_path(programming_language) %></td>
        <td><%= link_to 'Destroy', programming_language, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Programming Language', new_programming_language_path %>
